@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Nunito";
  src: url("public/fonts/Nunito/Nunito-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Ubuntu";
  src: url("public/fonts/Ubuntu/Ubuntu-Regular.ttf");
}
@layer base {
  a {
     @apply underline;
  }
  h1 {
    @apply text-2xl font-bold md:text-4xl;
  }
  h2 {
    @apply text-xl font-bold md:text-3xl;
  }
  h3 {
    @apply text-lg font-bold md:text-2xl;
  }
  h4 {
    @apply text-base font-bold md:text-lg;
  }
  body {
    @apply text-sm text-basiskleur md:text-base font-nunito;
  }
}

