{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}
{% set title = data.piece.title or data.page.title %}
{% block title %}
  {{ title }}
  {% if not title %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}
{% block extraHead %}
  <link href="/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
  <!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.stfranciscus-heverlee.org/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

{% endblock %}
{% block beforeMain %}
<div class="bp-wrapper">
  <img src="/assets/Kerk_Logo.jpg" class="headerImg"/>
  <div class="header">
    <span class="headerText"><h2>Sint Franciscusparochie</h2></span>
    <span class="headerText">Heverlee - Kessel-lo - Leuven</span>
    <span class="headerText">
      <p style="font-weight: bold;">Federatie Kesselinde</p><p>Tiensesteenweg 190, 3001 Heverlee</p>
      <p>tel. secretariaat +32 492 31 92 15</p>
      <p>franciscusheverlee@gmail.com</p>
    </span>
  </div>
  <div class="mobileHeader">
    <span className="font-bold text-xl">Sint Franciscusparochie</span><br></br>
    <span className="font-bold text-sm">Heverlee - Kessel-lo - Leuven</span><br></br>
    <span className="">
      <hr className="my-[15px] border-basiskleur bg-basiskleur"></hr>
      <p className="font-bold">Federatie Kesselinde</p><p>Tiensesteenweg 190, 3001 Heverlee</p>
      <p>tel. secretariaat +32 492 31 92 15</p>
      <p>franciscusheverlee@gmail.com</p>
    </span>
  </div>
  <div class="menu">
  <div>
    <button class="menubutton"><a href="/">Start</a></button> 
    {% for page in data.home._children %}
        <button class="menubutton"><a href="{{ page._url }}">{{ page.title }}</a></button>
   {% endfor %}
   </div>
   <div  className="overflow-x-hidden flex text-center items-center content-center place-content-center bg-derdekleur text-basiskleur w-full border-solid border-b-4 border-basiskleur flex-1 mr-2 p-[2px] sticky top-[83px] z-[4999]">
    {% for page in data.liturgie._children %}
        <button className="hidden mo:inline-block text-center border border-basiskleur rounded m-2 p-2 px-4 bg-liturgischekleur text-basiskleur"><a href="{{ page._url }}">{{ page.title }}</a></button>
   {% endfor %}
   </div>
   <div  className="overflow-x-hidden flex text-center items-center content-center place-content-center bg-derdekleur text-basiskleur w-full border-solid border-b-4 border-basiskleur flex-1 mr-2 p-[2px] sticky top-[83px] z-[4999]">
    {% for page in data.organisatie._children %}
        <button className="hidden mo:inline-block text-center border border-basiskleur rounded m-2 p-2 px-4 bg-liturgischekleur text-basiskleur"><a href="{{ page._url }}">{{ page.title }}</a></button>
   {% endfor %}
   </div>
   <div  className="overflow-x-hidden flex text-center items-center content-center place-content-center bg-derdekleur text-basiskleur w-full border-solid border-b-4 border-basiskleur flex-1 mr-2 p-[2px] sticky top-[83px] z-[4999]">
    {% for page in data.multimedia._children %}
        <button className="hidden mo:inline-block text-center border border-basiskleur rounded m-2 p-2 px-4 bg-liturgischekleur text-basiskleur"><a href="{{ page._url }}">{{ page.title }}</a></button>
   {% endfor %}
   </div>
   <div  className="overflow-x-hidden flex text-center items-center content-center place-content-center bg-derdekleur text-basiskleur w-full border-solid border-b-4 border-basiskleur flex-1 mr-2 p-[2px] sticky top-[83px] z-[4999]">
    {% for page in data.levensmomenten._children %}
        <button className="hidden mo:inline-block text-center border border-basiskleur rounded m-2 p-2 px-4 bg-liturgischekleur text-basiskleur"><a href="{{ page._url }}">{{ page.title }}</a></button>
   {% endfor %}
   </div>
  </div>
  <main class="bp-main">
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the @apostrophecms/pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
  </main>
  <footer class="franciscusfooter">
    <div>
      <img src="/icon.svg" width="50px"/>
      <div>
        &copy;
        <span id="copyright">
            2022 - <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
        </span>
    <a href="https://github.com/erikd256" style="text-decoration: underline;" target="_blank">erikd256</a></p>
  </div>
      <span>
        <a class="mx-[0px] inline-block opacity-80 hover:opacity-100 transition ease-out duration-150" target="_blank" href="https://www.facebook.com/Franciscusgemeenschapheverlee/"><i class="fa fa-facebook"></i></a>  
        <a class="mx-[4px] inline-block opacity-80 hover:opacity-100 transition ease-out duration-150" target="_blank" href="https://www.youtube.com/channel/UC-7wzVLv2W3oUQtQcPpvCig"><i class="fa fa-youtube"></i></a>
        <a class="mx-[4px] inline-block opacity-80 hover:opacity-100 transition ease-out duration-150" target="_blank" href="https://github.com/erikd256/stfranciscusheverlee"><i class="fa fa-github"></i></a>
      </span>
      <p>
        <a href="/privacy" class="no-underline">Privacy</a>
        </br>
        <a href="/contact" class="no-underline">Contact</a>
        </br>
        <a href="/about" class="no-underline">Over ons</a>
        </br>
        <a href="/sitemap" class="no-underline">Sitemap</a>
        </br>
        <a href="https://status.stfranciscus-heverlee.org/" class="no-underline">Status</a>
        </br></br></br>
        <a href="/login" style="font-size: 15px;"><i style="font-size: 15px;" class="fa fa-lock"></i> Login</a>
      </p>
    </div>
  </footer>
  <a href="/donaties" class="donaties"><span class="material-symbols-outlined">volunteer_activism</span></a>
</div>{# Close .bp-wrapper #}
{% endblock %}
