:root {
    --basiskleur: #331804;
    --liturgischekleur: #cb904d;
    --derdekleur: #dfcc74;
    --vierdekleur: #51a3a3;
    --vijfdekleur: #e2e0cb;
    --ghblack: #1c2128;
    overflow-x: hidden;
}
.franciscusfooter{
    background-color: var(--basiskleur);
    color: var(--derdekleur);
    padding-top: 30px;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    font-size: 14px;
    font-weight: 500;
} 
.franciscusfooter a {
    padding-top: 10px;
    color: var(--derdekleur);
}
.franciscusfooter img {
    margin-bottom: 30px;
}
.franciscusfooter .fa{
    font-size: xx-large;
    padding: 5px;
}
.donaties, .donaties:visited, .donaties:active, .donaties:hover{
    position:fixed;
    padding: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    background-color: #a40431;
    z-index: 4;
    bottom: 10px;
    left: 10px;
    color: white;
    border-radius: 50px;
    font-weight: bold;
}
.menu{
    background: var(--vierdekleur);
    width: 100%;
    height: 52px;
    position: sticky;
    top: 0px;
    margin: 0px;
    text-align: center;
    padding: 10px;
    overflow-x: hidden;
    border-bottom: 2px solid var(--basiskleur);
    border-top: 2px solid var(--basiskleur);
}
.menubutton{
    text-align: center;
    border: 2px solid var(--basiskleur);
    margin-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    border-radius: 0.25rem;
    padding-right: 1rem;
    background: var(--liturgischekleur);
    color: var(--basiskleur);
    height: 40px;
    margin-top: 6px;
    line-height: 22px;
}
.menubutton a{
    color: var(--basiskleur);
}
.bp-wrapper{
    background: var(--vijfdekleur);
}
.headerImg{
    height: 218px;
    border-right: 2px solid var(--basiskleur);
    border-bottom: 2px solid var(--basiskleur);
    float: left;
    margin-right: 20px;
    margin-top: 0px;
    position: absolute;
    top: 0px;
}
.headerText{
    position: relative;
    left: 170px;
}
.header{
    padding-top: 20px;
    color: var(--basiskleur);
    background: var(--liturgischekleur);
    height: 200px;
}
.header h2{
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
.mobileHeader{
    visibility: collapse;
}
::selection { 
    background: var(--basiskleur);
    color: var(--vierdekleur); 
}
.bp-main{
    padding-top: 20px;
}
@media only screen and (max-width: 600px) {
    .header{
        visibility: collapse;
    }
    .mobileHeader{
        visibility: visible;
    }
  }